
  #root{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #333;
    background: rgba(255, 255, 255, 0.3);
    padding: 15px 20px 18px 18px;
    border-radius: 5px;
    box-shadow: 2px 5px 5px #333; 
  }  

  .home{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
    color: #fff;
    background: linear-gradient(
      90deg,
      rgba(64, 57, 66, 0.753) 0%,
      rgba(5, 39, 54, 0.705) 100%
    );
    padding: 16px;
    border-radius: 5px;
    width: 90%;

  }


  .boards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #fff;
    background: linear-gradient(
      90deg,
      rgb(26, 10, 100) 0%,
      rgba(7, 49, 133, 0.938) 100%
    );
  
    padding: 16px;
    border-radius: 5px;
    width: 90%;
  }
  
  .color-row:nth-child(4n + 1) {
    background: linear-gradient(
      90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%
    );
  }
  
  .color-row:nth-child(4n + 2) {
    background: linear-gradient(
      90deg,
      rgba(255, 12, 241, 1) 0%,
      rgba(250, 0, 135, 1) 100%
    );
  }
  
  .color-row:nth-child(4n + 3) {
    background: linear-gradient(
      90deg,
      rgba(20, 159, 255, 1) 0%,
      rgba(17, 122, 255, 1) 100%
    );
  } 

  .color-row{
    /* display: flex;
    justify-content: space-between; */
    align-items: center;
    margin: 4px auto;
    color: #fff;
    background: linear-gradient(
      90deg,
      rgba(255, 118, 20, 1) 0%,
      rgba(255, 84, 17, 1) 100%
    );
  
    padding:16px;
    border-radius: 5px;
    width: 90%;
  } 

  .nav-home{ 
      background: linear-gradient(
        90deg,
        rgba(12, 13, 77, 0.493) 0%,
        rgba(45, 4, 119, 0.767) 100%
      )
  }  

  .nav-new{ 
    background: linear-gradient(
      90deg,
      rgba(2, 67, 70, 0.253) 0%,
      rgba(4, 131, 110, 0.397) 100%
    )
}  

.nav-boards{ 
  background: linear-gradient(
    90deg,
    rgba(49, 40, 36, 0.616) 0%,
    rgba(43, 16, 41, 0.767) 100%
  )
} 

  